name: Build SGL BeagleV-Fire Space ROS

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    uses: ./.github/workflows/build-sgl.yml
    with:
      kas_config: sgl-scarthgap-spaceros-jazzy-2025.10-beaglev-fire.yml
      runner: runs-on=${{ github.run_id }}/runner=32cpu-linux-arm64/image=ubuntu24-full-arm64/extras=s3-cache/family=c7gd+m7gd
      hardware_arch: beaglev-fire
